@{
    ViewBag.Title = "Access Real Estate";
}

<div class="jumbotron">
    <p>
        <img src="~/Images/access.png" alt="Logo"width="300">
        <h2>Намери своя дом</h2>
        
    </p>
</div>

